In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
plt.rc('font', family='NanumBarunGothic') 
from collections import Counter
import folium

In [2]:
delivery = pd.read_csv('/content/drive/MyDrive/dataset/project_team3_delivery/yogiyo delivery in seoul.csv')
weather = pd.read_csv('/content/drive/MyDrive/dataset/project_team3_delivery/food_weather.csv')

In [3]:
weather

             date        day  hour    food  count weather
0      2020-01-01  Wednesday     0      분식     13   맑음 추움
1      2020-01-01  Wednesday     0      야식     28   맑음 추움
2      2020-01-01  Wednesday     0   족발/보쌈     27   맑음 추움
3      2020-01-01  Wednesday     0      찜탕      3   맑음 추움
4      2020-01-01  Wednesday     0      치킨    103   맑음 추움
...           ...        ...   ...     ...    ...     ...
79031  2020-12-31   Thursday    23  카페/디저트     32   맑음 추움
79032  2020-12-31   Thursday    23   패스트푸드     25   맑음 추움
79033  2020-12-31   Thursday    23      피자     24   맑음 추움
79034  2020-12-31   Thursday    23      한식     28   맑음 추움
79035  2020-12-31   Thursday    23       회     13   맑음 추움

[79036 rows x 6 columns]

In [ ]:
arr = []
for i in weather.index:
  a = weather.loc[i,'celsius(C)']
  b = weather.loc[i,'rain(mm)']
  tmp = ''
  if b == 0:
    tmp += '맑음'
  else:
    if a >= 0:
      tmp += '비'
    else:
      tmp += '눈'
  if a >= 22:
    tmp += ' 더움'
  elif 6 <= a < 22:
    tmp += ' 선선'
  else:
    tmp += ' 추움'
  arr.append(tmp)
weather['날씨']=arr
# 13시에 주문을 한다고 가정
# weather_13 = weather[weather['hour']==13]
# weather_13['celsius(C)'].groupby(weather_13['date']).mean() #일별 13시 평균기온

In [ ]:
snow_cold = weather[weather['weather']=='눈 추움']
# weather['날씨'].value_counts()
# weather.rename(columns={'날씨':'weather'},inplace=True)
weather = weather[['date', 'day', 'hour', 'food', 'count', 'weather']]
weather

             date        day  hour    food  count weather
0      2020-01-01  Wednesday     0      분식     13   맑음 추움
1      2020-01-01  Wednesday     0      야식     28   맑음 추움
2      2020-01-01  Wednesday     0   족발/보쌈     27   맑음 추움
3      2020-01-01  Wednesday     0      찜탕      3   맑음 추움
4      2020-01-01  Wednesday     0      치킨    103   맑음 추움
...           ...        ...   ...     ...    ...     ...
79031  2020-12-31   Thursday    23  카페/디저트     32   맑음 추움
79032  2020-12-31   Thursday    23   패스트푸드     25   맑음 추움
79033  2020-12-31   Thursday    23      피자     24   맑음 추움
79034  2020-12-31   Thursday    23      한식     28   맑음 추움
79035  2020-12-31   Thursday    23       회     13   맑음 추움

[79036 rows x 6 columns]

In [ ]:
snow_cold_key = snow_cold['count'].groupby(snow_cold['food'])
snow_cold_sum = snow_cold['count'].groupby(snow_cold['food']).sum()
# xticks = list(snow_cold_key.groups.keys())
# ax = snow_cold_sum.plot(kind='bar', figsize=[8,5], xticks=xticks)
k = pd.DataFrame(snow_cold_sum, columns=['count']).reset_index()
k

      food  count
0      도시락      1
1   돈까스/일식     55
2       분식    268
3   아시안/양식     65
4       야식     42
5    족발/보쌈     92
6       중식     59
7       찜탕     26
8       치킨    277
9   카페/디저트    182
10   패스트푸드    250
11      피자    143
12      한식    186
13       회     20

In [ ]:
# !sudo apt-get install -y fonts-nanum
# !sudo fc-cache -fv
# !rm ~/.cache/matplotlib -rf

plt.figure(figsize=(10,6))
sns.barplot(data=k, x='food', y='count', palette="Set2")
# plt.title('Count of Patient in Seoul Gu', fontsize=18)   # 제목
# plt.xlabel('Gu')
sns.set(font='NanumBarunGothic', 
        rc={"axes.unicode_minus":False},
        style='darkgrid')
plt.xticks(rotation=45)
plt.show()

In [6]:
# weather.to_csv("food_weather.csv", index=False, encoding='utf-8-sig')
import requests
import pprint
import json

url = 'http://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getUltraSrtNcst'
params ={'serviceKey' : '', 
         'pageNo' : '1', 
         'numOfRows' : '1000', 
         'dataType' : 'JSON', 
         'base_date' : '20220104', 
         'base_time' : '1400', 
         'nx' : '55', 
         'ny' : '127' 
        }

response = requests.get(url, params=params)
contents = response.text
pp = pprint.PrettyPrinter(indent=4)
print(pp.pprint(contents))

'{"response":{"header":{"resultCode":"00","resultMsg":"NORMAL_SERVICE"},"body":{"dataType":"JSON","items":{"item":[{"baseDate":"20220104","baseTime":"1400","category":"PTY","nx":55,"ny":127,"obsrValue":"0"},{"baseDate":"20220104","baseTime":"1400","category":"REH","nx":55,"ny":127,"obsrValue":"17"},{"baseDate":"20220104","baseTime":"1400","category":"RN1","nx":55,"ny":127,"obsrValue":"0"},{"baseDate":"20220104","baseTime":"1400","category":"T1H","nx":55,"ny":127,"obsrValue":"1.5"},{"baseDate":"20220104","baseTime":"1400","category":"UUU","nx":55,"ny":127,"obsrValue":"2.2"},{"baseDate":"20220104","baseTime":"1400","category":"VEC","nx":55,"ny":127,"obsrValue":"271"},{"baseDate":"20220104","baseTime":"1400","category":"VVV","nx":55,"ny":127,"obsrValue":"0"},{"baseDate":"20220104","baseTime":"1400","category":"WSD","nx":55,"ny":127,"obsrValue":"2.2"}]},"pageNo":1,"numOfRows":1000,"totalCount":8}}}'
None

In [7]:
json_ob = json.loads(contents)
print(json_ob)
print(type(json_ob)) #json타입 확인

{'response': {'header': {'resultCode': '00', 'resultMsg': 'NORMAL_SERVICE'}, 'body': {'dataType': 'JSON', 'items': {'item': [{'baseDate': '20220104', 'baseTime': '1400', 'category': 'PTY', 'nx': 55, 'ny': 127, 'obsrValue': '0'}, {'baseDate': '20220104', 'baseTime': '1400', 'category': 'REH', 'nx': 55, 'ny': 127, 'obsrValue': '17'}, {'baseDate': '20220104', 'baseTime': '1400', 'category': 'RN1', 'nx': 55, 'ny': 127, 'obsrValue': '0'}, {'baseDate': '20220104', 'baseTime': '1400', 'category': 'T1H', 'nx': 55, 'ny': 127, 'obsrValue': '1.5'}, {'baseDate': '20220104', 'baseTime': '1400', 'category': 'UUU', 'nx': 55, 'ny': 127, 'obsrValue': '2.2'}, {'baseDate': '20220104', 'baseTime': '1400', 'category': 'VEC', 'nx': 55, 'ny': 127, 'obsrValue': '271'}, {'baseDate': '20220104', 'baseTime': '1400', 'category': 'VVV', 'nx': 55, 'ny': 127, 'obsrValue': '0'}, {'baseDate': '20220104', 'baseTime': '1400', 'category': 'WSD', 'nx': 55, 'ny': 127, 'obsrValue': '2.2'}]}, 'pageNo': 1, 'numOfRows': 1000, 'totalCount': 8}}}
<class 'dict'>

In [8]:
body = json_ob['response']['body']['items']['item']
print(body)

[{'baseDate': '20220104', 'baseTime': '1400', 'category': 'PTY', 'nx': 55, 'ny': 127, 'obsrValue': '0'}, {'baseDate': '20220104', 'baseTime': '1400', 'category': 'REH', 'nx': 55, 'ny': 127, 'obsrValue': '17'}, {'baseDate': '20220104', 'baseTime': '1400', 'category': 'RN1', 'nx': 55, 'ny': 127, 'obsrValue': '0'}, {'baseDate': '20220104', 'baseTime': '1400', 'category': 'T1H', 'nx': 55, 'ny': 127, 'obsrValue': '1.5'}, {'baseDate': '20220104', 'baseTime': '1400', 'category': 'UUU', 'nx': 55, 'ny': 127, 'obsrValue': '2.2'}, {'baseDate': '20220104', 'baseTime': '1400', 'category': 'VEC', 'nx': 55, 'ny': 127, 'obsrValue': '271'}, {'baseDate': '20220104', 'baseTime': '1400', 'category': 'VVV', 'nx': 55, 'ny': 127, 'obsrValue': '0'}, {'baseDate': '20220104', 'baseTime': '1400', 'category': 'WSD', 'nx': 55, 'ny': 127, 'obsrValue': '2.2'}]

In [9]:
from pandas.io.json import json_normalize
# Dataframe으로 만들기
dataframe = pd.json_normalize(body)
dataframe = dataframe[dataframe['category'].isin(['PTY', 'RN1', 'T1H'])].sort_values('category')
dataframe = dataframe.astype({'obsrValue':'float'})
dataframe

x = ''
if dataframe.loc[0]['obsrValue'] == 0:
  x += '맑음'
else:
  if dataframe.loc[2]['obsrValue'] >=0:
    x += '비옴'
  else:
    x += '눈옴'
if dataframe.loc[0]['obsrValue'] >= 22:
  x += ' 더움'
elif 6 <= dataframe.loc[0]['obsrValue'] < 22:
  x += ' 선선'
else:
  x += ' 추움'
print(x)

맑음 추움

In [12]:
now = weather[weather['weather']==x] #현재 날씨의 배달기록
now.groupby('food')['count'].sum() #카테고리별 배달수

food
도시락         4944
분식         70859
아시안/양식     11621
야식         19786
일식         26526
족발/보쌈      40717
중식         13779
찜탕         13276
치킨        146458
카페/디저트     52216
패스트푸드      51726
피자         29986
한식         50993
회          10946
Name: count, dtype: int64