In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import collections
import folium
import re

In [2]:
!pip install haversine
from haversine import haversine #위도,경도를 이용해 거리계산

Collecting haversine
  Downloading haversine-2.5.1-py2.py3-none-any.whl (6.1 kB)
Installing collected packages: haversine
Successfully installed haversine-2.5.1

In [3]:
total = pd.read_csv('/content/drive/MyDrive/dataset/project_team3_delivery/yogiyo_delivery4.csv')

In [4]:
total = total[['name','categories','restaurant_type', 'review_avg', 'lat', 'lng', 'phone', 'address']] # 121804개의 데이터
total.dropna(subset=['address'], inplace=True) #주소가 없는 음식점 제외
total = total[total['address'].str.startswith('서울')] #주소가 서울인곳만

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [5]:
def foo(x):
  return x[2:-2]

def bar(x):
  s = ''
  for i in x:
    s = s +i + ' '
  return s[:-1]

In [6]:
total['categories'] = total['categories'].apply(foo)
total['categories'] = total.categories.str.split('\', \'').apply(bar)
# 카테고리별로 공백으로 구분한 문자열로 치환

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [7]:
total

                name  ...                                            address
10980    깻잎두마리치킨-중랑점  ...                         서울 중랑구 면목동 371-122 한성빌딩 1층
18008     참치의명가&야식포차  ...                      서울특별시 동작구 신대방동 686-2 686-2 1층
27864       가락시장보은수산  ...           서울 송파구 가락동 600 가락동 농수산물도매시장 비동 지하1층 4-1호
28008       가락시장온달수산  ...  서울 송파구 가락동 600 가락동 농수산물도매시장 가락몰판매동 수산부류 1층94호,...
28739    한우투플육회&생연어회  ...                        서울 양천구 신정동 1030-6 210호,211호
...              ...  ...                                                ...
113033    GS25-상계우리점  ...                                  서울 노원구 상계동 135-14
113034     교촌치킨-상계역점  ...  서울특별시 노원구 중계동 137-39 정진아트리움 137-39 정진아트리움 102호 전체
113035     BBQ-상계보람점  ...                              서울 노원구 상계동 169-367 1층
113793    요거프레소-도봉산점  ...                                  서울 도봉구 도봉동 556-19
113796  PB델리-수락리버시티점  ...          서울 노원구 상계동 1313-1 크로바프라자 크로바프라자103-1,104호

[48717 rows x 8 columns]

In [8]:
total[total['categories'].str.contains('헬스뷰티')].head(20)

                 name  ...                                        address
44104    아리따움-금천남문시장점  ...                   서울특별시 금천구 독산동 165-5 1층 가운데점포
44602        아리따움-난곡점  ...                        서울특별시 관악구 신림동 635-23 1층
51146        랄라블라-신림점  ...                          서울 관악구 신림동 1638-19 1층
51154     랄라블라-구로디지털점  ...                              서울 구로구 구로동 1125-6
51467     아리따움-난곡사거리점  ...                      서울특별시 관악구 신림동 1569-4 이솝빌딩
52092      아리따움-관악중앙점  ...        서울특별시 관악구 봉천동 862-1 에그엘로우 1층 8,9,10,11호
53635   아리따움-아리따움양재역점  ...                         서울특별시 서초구 양재동 11-84 1층
55688        아리따움-송파점  ...        서울특별시 송파구 송파동 104-4 우암빌딩 104-4 우암빌딩 104
59402      아리따움-개봉2동점  ...                        서울특별시 구로구 개봉동 403-51 1층
60082  아리따움-구로디지털단지역점  ...                   서울특별시 구로구 구로동 1125-5 동연빌딩 1층
60571     아리따움-보라매공원점  ...        서울특별시 영등포구 신길동 4491 한국천주교살레시오회돈보스코청소년센터
61342      랄라블라-성대시장점  ...                     서울 동작구 상도동 324-1 성대시장 103호
64116       아리따움-한티역점  ...                서울특별시 강남구 역삼동 756-18 삼미빌딩 1층 아호
64327        랄라블라-강남점  ...              서울 강남구 역삼동 858 신분당선 지하상가 1호,2호,3호
65633     아리따움-송파석촌역점  ...  서울특별시 송파구 송파동 19-8 임진각빌딩 19-8 임진각빌딩 지상1층 102호
69880      아리따움-양천신월점  ...                           서울특별시 양천구 신월동 427-10
70616     아리따움-영등포구청점  ...                           서울특별시 영등포구 당산동3가 243
71134        랄라블라-중대점  ...                            서울 동작구 흑석동 223-1 1층
71547    토니모리-강남지하상가점  ...           서울특별시 강남구 역삼동 821 이즈타워 강남역지하쇼핑센터 F-1
71728        스킨푸드-도산점  ...                            서울특별시 강남구 신사동 648-4

[20 rows x 8 columns]

In [9]:
categories_all = []
for i in total.index:
  a = total.loc[i,'categories'].split()
  categories_all = list(set(categories_all + a))
categories_all #['다회용기', '한식', '반려동물용품', '프랜차이즈', '1인분주문', '고기구이', '샌드위치', '피자양식', '샐러드', '치킨', '카페디저트', '편의점', '도시락죽', '일식돈까스', '아시안', '중식', '버거', '분식', '찜탕', '회초밥', '헬스뷰티', '테이크아웃', '족발보쌈', '야식', '신규맛집']

['프랜차이즈',
 '치킨',
 '피자양식',
 '아시안',
 '반려동물용품',
 '샌드위치',
 '찜탕',
 '분식',
 '편의점',
 '야식',
 '다회용기',
 '샐러드',
 '테이크아웃',
 '회초밥',
 '버거',
 '신규맛집',
 '헬스뷰티',
 '일식돈까스',
 '고기구이',
 '카페디저트',
 '한식',
 '1인분주문',
 '중식',
 '도시락죽',
 '족발보쌈']

In [10]:
total = total[~total['categories'].str.contains('반려동물용품')]
total = total[~total['categories'].str.contains('헬스뷰티')]
total = total[~total['categories'].str.contains('다회용기')]
total = total[~total['restaurant_type'].str.contains('grocery')]
total.apply(lambda x: x.str.strip(), axis = 1)
# total.drop(["distance"], axis=1)
total = total.reset_index(drop=True)
total

               name  ...                                            address
0       깻잎두마리치킨-중랑점  ...                         서울 중랑구 면목동 371-122 한성빌딩 1층
1        참치의명가&야식포차  ...                      서울특별시 동작구 신대방동 686-2 686-2 1층
2          가락시장보은수산  ...           서울 송파구 가락동 600 가락동 농수산물도매시장 비동 지하1층 4-1호
3          가락시장온달수산  ...  서울 송파구 가락동 600 가락동 농수산물도매시장 가락몰판매동 수산부류 1층94호,...
4       한우투플육회&생연어회  ...                        서울 양천구 신정동 1030-6 210호,211호
...             ...  ...                                                ...
45422        한우정육식당  ...                                서울 노원구 상계동 101-177
45423     교촌치킨-상계역점  ...  서울특별시 노원구 중계동 137-39 정진아트리움 137-39 정진아트리움 102호 전체
45424     BBQ-상계보람점  ...                              서울 노원구 상계동 169-367 1층
45425    요거프레소-도봉산점  ...                                  서울 도봉구 도봉동 556-19
45426  PB델리-수락리버시티점  ...          서울 노원구 상계동 1313-1 크로바프라자 크로바프라자103-1,104호

[45427 rows x 8 columns]

In [11]:
# me = (37.557945, 126.99419)
# tmp = total
# tmp['distance'] = total.apply(lambda row: haversine(me, (row['lat'], row['lng'])), axis=1)
# tmp = total[total['categories'].isin(['한식','일식돈까스']) & (tmp['distance'] <= 2)].head(10)
# map_osm = folium.Map(location=[tmp.iloc[0]['lat'], tmp.iloc[0]['lng']], zoom_start=13)
# folium.Marker(me, popup=' 현재위치', icon = folium.Icon('red', icon='star')).add_to(map_osm)
# for region in range(len(tmp)):
#     # CircleMarker를 사용하여 지역마다 원형마커를 생성합니다.
#     folium.Marker([tmp.iloc[region]['lat'], tmp.iloc[region]['lng']],
#               popup=tmp.iloc[region]['name'],
#               icon=folium.Icon('blue', icon='star'),
#              ).add_to(map_osm)

# map_osm

In [12]:
total[total.categories.str.contains('버거')]
# new_categories=['분식', '야식', '족발/보쌈', '찜탕', '치킨', '카페/디저트', '피자', '한식', '회', '돈까스/일식', '패스트푸드', '아시안/양식', '도시락', '중식']

                  name  ...                         address
37     BURGER&BEER-금천점  ...             서울 금천구 시흥동 884-4 2층
38     BURGERSTAGE-금천점  ...             서울 금천구 시흥동 884-4 2층
258         롯데리아-시흥중앙점  ...      서울특별시 금천구 시흥동 911-2 지상1,2층
364         마법주방-반포직영점  ...          서울 서초구 반포동 724-14 102호
403         봉구스밥버거-양재점  ...  서울특별시 서초구 양재동 391-18 창성빌딩 104호
...                ...  ...                             ...
45279      맘스터치-노원로데오점  ...     서울특별시 노원구 상계동 593-2 동원빌딩 2층
45286         맥도날드-중계점  ...       서울 노원구 중계동 359-14 원광빌딩 1층
45297          버거킹-하계점  ...     서울특별시 노원구 하계동 256-8 삼화빌딩 1층
45345      맥도날드-방학역DT점  ...        서울 도봉구 도봉동 620-24 지상1,2층
45352       롯데리아-수락산역점  ...     서울 노원구 상계동 1132-2 롯데리아 1~2층

[993 rows x 8 columns]

In [20]:
for i in total.index:
  c = total.loc[i,'categories']
  c = c.replace('족발보쌈', '족발/보쌈')
  c = c.replace('카페디저트', '카페/디저트')
  c = c.replace('회초밥', '회')
  c = c.replace('일식돈까스', '일식')
  c = c.replace('아시안', '아시안/양식')
  c = c.replace('도시락죽', '도시락')
  if '피자양식' in c:
    c = c.replace('아시안', '')
    c = c.replace('피자양식','피자 아시안/양식')
  else:
    c = c.replace('아시안', '아시안/양식')
  total.loc[i,'categories'] = c
  k = total.loc[i,'name']
  k = k.replace(',','.')
  total.loc[i,'name'] = k

In [14]:
#total[total.categories.str.contains('1인분주문')]
total.drop(['restaurant_type'], axis=1, inplace=True)

In [15]:
# for i in total.index:
#   c = total.loc[i,'name']
#   c = c.replace('\'', '\\\'')
#   total.loc[i,'name'] = c
len(total[total.name.str.contains(',')])
# total.to_csv("yogiyo delivery in seoul.csv", index=False, encoding='utf-8-sig')
# total.head()

0

In [16]:
total['phone'] = total['phone'].fillna(-1)
total['phone'] = total['phone'].apply(int)
total['phone'] = '0' + total['phone'].apply(str)
total['phone'] = total['phone'].replace('0-1', np.nan)

total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45427 entries, 0 to 45426
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        45427 non-null  object
 1   categories  45427 non-null  object
 2   review_avg  45427 non-null  float64
 3   lat         45427 non-null  float64
 4   lng         45427 non-null  float64
 5   phone       40588 non-null  object
 6   address     45427 non-null  object
dtypes: float64(3), object(4)
memory usage: 2.4+ MB

In [17]:
for i in total.index:
  a = total.loc[i,'name']
  reg = re.compile(r'[가-힣]+n[가-힣]+')
  if reg.match(a):
    a = re.sub('n','&', a)
    total.loc[i,'name'] = a

In [18]:
total.loc[992,'name'] = '바로삶은보양족발' # 바로삶은보양족발n1인세트
total.loc[5072,'name'] = '삼두삼계탕&아구찜' # 삼두삼계탕and아구찜
total.loc[41255,'name'] = '황학동 곱창&막창' # 황학동곱창and막창
# total.loc[34964,'name'] = '국수and전골전문' # 국수and전골전문
total.loc[40607,'name'] = '좋은날엔' # 1인커피전문점좋은날n카페

In [19]:
total.to_csv("yogiyo delivery in seoul.csv", index=False, encoding='utf-8-sig')