In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/시간대별 음식종류 배달건수.csv')
df

         2020-01-01  00  돈까스/일식      경기도  고양시 덕양구  2
0        2020-01-01   0  돈까스/일식      경기도      광명시  6
1        2020-01-01   0  돈까스/일식      경기도      부천시  3
2        2020-01-01   0  돈까스/일식      경기도     의정부시  7
3        2020-01-01   0  돈까스/일식     전라북도      군산시  5
4        2020-01-01   0  돈까스/일식  제주특별자치도     서귀포시  1
...             ...  ..     ...      ...      ... ..
2015375  2020-12-31  23       회    서울특별시      양천구  1
2015376  2020-12-31  23       회    서울특별시      은평구  5
2015377  2020-12-31  23       회     전라남도      광양시  3
2015378  2020-12-31  23       회     충청남도      서산시  1
2015379  2020-12-31  23       회     충청남도  천안시 서북구  1

[2015380 rows x 6 columns]

In [ ]:
df.columns = ['date', 'hour', 'food', 'city', 'district', 'count']
df = df[df['city'] == '서울특별시']
df

               date  hour food   city district  count
18       2020-01-01     0   분식  서울특별시      관악구      2
19       2020-01-01     0   분식  서울특별시      구로구      1
20       2020-01-01     0   분식  서울특별시      금천구      2
21       2020-01-01     0   분식  서울특별시      노원구      8
43       2020-01-01     0   야식  서울특별시      구로구      4
...             ...   ...  ...    ...      ...    ...
2015347  2020-12-31    23   한식  서울특별시      은평구      3
2015373  2020-12-31    23    회  서울특별시      강서구      1
2015374  2020-12-31    23    회  서울특별시      구로구      6
2015375  2020-12-31    23    회  서울특별시      양천구      1
2015376  2020-12-31    23    회  서울특별시      은평구      5

[401539 rows x 6 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/seoul_food.csv')